<div layout-align="center start" md-theme="gloo">
  <header>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h4>Gloo Code Challenge</h4>
        <span flex></span>
        <p><a href="http://githop.com" target="_blank">Tom Hopkins</a></p>
      </div>
    </md-toolbar>
  </header>

  <div class="header">
    <h1>{{Gloo.greeting}}</h1>

    <md-button class="md-fab md-mini" ng-click="Gloo.create()">
      <md-tooltip>
        Add Item
      </md-tooltip>
      <i class="mdi mdi-plus-box"></i>
    </md-button>

    <div ng-if="!Gloo.things.length" class="animate-if">
      Looks like there is nothing here... <i class="mdi mdi-emoticon-sad mdi-24"></i> <br>
      Add something?
    </div>
  </div>


  <div class="list-wrapper">

      <div ng-repeat="thing in Gloo.things" layout="column" class="repeat-item" layout-align="center center">
        <md-card class="thing-item">
          <md-card-content>
            <div>
              <i class="mdi mdi-36"
                 ng-class="{
                 'mdi-book': thing.type == 'Book',
                 'mdi-movie': thing.type == 'Movie',
                 'mdi-web': thing.type== 'Website' }"></i>
            </div>
            <h3>{{thing.title}}</h3>
            <span ng-if="thing.url"><a ng-href="{{thing.url}}" target="_blank"><i class="mdi mdi-link-variant"></i></a></span>
            <span ng-if="!thing.url">
              <md-tooltip>
                No URL
              </md-tooltip>
              <i class="mdi mdi-link-variant-off"></i></span>
            <span>{{thing.content}}</span>
          </md-card-content>
          <div class="md-actions">
            <md-button class="md-raised md-accent" ng-click="Gloo.remove(thing)">
              <i class="mdi mdi-delete mdi-24"></i>
            </md-button>
            <md-button class="md-raised md-primary" ng-click="Gloo.update(thing)">
              <i class="mdi mdi-pencil mdi-24"></i>
            </md-button>
          </div>
        </md-card>
      </div>

  </div>

</div>



<script type="text/ng-template" id="create.tmpl.html">
  <md-dialog class="edit-dialog" md-theme="gloo">
    <form name="createForm" ng-submit="ctrl.add(ctrl.data)">
      <md-toolbar class="md-accent">
        <div class="md-toolbar-tools">
          <h2>Create</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <i class="mdi mdi-close"></i>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content>
        <div>
          <md-input-container>
            <md-select ng-model="ctrl.data.type" placeholder="Type" name="selectBox" required>
              <md-option ng-repeat="type in ctrl.opts" value="{{type.key}}">{{type.key}}</md-option>
            </md-select>
            <div ng-messages="createForm.selectBox.$error">
              <div ng-message="required">Gotta pick a type!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Title</label>
            <input type="text" required name="title" ng-model="ctrl.data.title">
            <div ng-messages="createForm.title.$error">
              <div ng-message="required">Title cannot be blank!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Content</label>
            <input type="text" required name="content" ng-model="ctrl.data.content">
            <div ng-messages="createForm.content.$error">
              <div ng-message="required">Gotta have content!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>url (optional)</label>
            <input type="url" name="link" ng-model="ctrl.data.url">
            <div ng-messages="createForm.link.$error">
              <div ng-message="url">Must be a valid URL!</div>
            </div>
          </md-input-container>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-raised md-accent" ng-click="ctrl.cancel()">
          exit
        </md-button>
        <md-button class="md-raised md-primary" type="submit">
          submit
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>

<script type="text/ng-template" id="edit.tmpl.html">
  <md-dialog class="edit-dialog" md-theme="gloo">
    <form name="editForm" ng-submit="ctrl.update(ctrl.copy)">
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>Edit</h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="ctrl.cancel()">
            <i class="mdi mdi-close"></i>
          </md-button>
        </div>
      </md-toolbar>
      <md-dialog-content layout="column">
        <div>
          <md-input-container>
            <md-select ng-model="ctrl.copy.type" placeholder="Type"
                       ng-change="ctrl.onSelect(ctrl.copy.type)"
                       name="editSelect" required>
              <md-option ng-repeat="type in ctrl.opts" value="{{type.key}}">{{type.key}}</md-option>
            </md-select>
            <div ng-messages="editForm.selectBox.$error">
              <div ng-message="required">can't remote type!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Title</label>
            <input type="text" name="title" required ng-model="ctrl.copy.title">
            <div ng-messages="editForm.title.$error">
              <div ng-message="required">you shouldn't remove the whole title!</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>Content</label>
            <input type="text" name="content" required ng-model="ctrl.copy.content">
            <div ng-messages="editForm.content.$error">
              <div ng-message="required">you should know better by now :)</div>
            </div>
          </md-input-container>
          <md-input-container>
            <label>url (optional)</label>
            <input type="url" name="link" ng-model="ctrl.copy.url">
            <div ng-messages="editForm.link.$error">
              <div ng-message="url">Must be a valid URL!</div>
            </div>
          </md-input-container>
        </div>
      </md-dialog-content>
      <div class="md-actions" layout="row">
        <span flex></span>
        <md-button class="md-raised md-accent" ng-click="ctrl.cancel()">
          cancel
        </md-button>
        <md-button class="md-raised md-primary" type="submit">
          save
        </md-button>
      </div>
    </form>
  </md-dialog>
</script>
